

*{
    font-family: 'Century Gothic', sans-serif;
}

body {
    overflow-x: hidden;
}

/* Secondary Font */

.font-georgia {
    font-family: 'Georgia', serif;
}


/**Bootstrap overrides**/
.btn-primary {
    border-radius: 0px;
    border-width: 0px;
    background: #ffffff;
    transition: all .1s;
    display: inline-block;
    font-size: 1rem;
}
.btn-primary:hover {
    opacity: .8;
    transform: translateY(-3px);
    background: none;
}
.btn-right-margin {
    margin-right: 1rem;
}
.dropdown-toggle {
    font-size: 1.5rem;
    border-width: 0px;
    background: none;
    color: #ffffff;
    margin: 0 1rem 0 1rem;
}


/**COLORS**/
.bg-gray {
    background: rgb(246,247,249);
}

.bg-white {
    background: rgb(255,255,255);
}

.bg-blue {
    background: rgb(0, 179, 227);
}
.bg-blue , .btn-primary:hover {
    background: rgb(0, 179, 227) !important;
}
.text-color-blue {
    color: rgb(96,169,214);
}
.text-color-dark-blue {
    color: rgb(54,104,137);
}


.bg-orange {
    background: rgb(240,143,75);
}
.bg-orange , .btn-primary:hover {
    background: rgb(240,143,75) !important;
}
.text-color-orange {
    color: rgb(240,143,75);
}

.bg-purp {
    background: rgb(200,80,200);
}
.bg-purp , .btn-primary:hover {
    background: rgb(200,80,200) !important;
}
.text-color-purp {
    color: rgb(200,80,200);
}

.bg-green {
    background: rgb(115,220,100);
}
.bg-green , .btn-primary:hover {
    background: rgb(115,220,100) !important;
}
.text-color-green {
    color: rgb(115,203,140);
}

/**SNIPPETS**/
.view-height-50 {
    height: 50vh;
}
.view-height-75 {
    height: 75vh;
}
.neg-m-top-30 {
    margin-top: -30px;
}
.pt-10-vh {
    padding-top: 10vh;
}
.pt-25-vh {
    padding-top: 25vh;
}
.line-height-3 {
    line-height: 3;
}
.mt-n10 {
    margin-top: -8rem !important;
}
.dbl-font-size {
    font-size: 1.5rem;
}

/**CUSTOM**/
.home-header-bg-image {
    background: linear-gradient(
      to bottom right,
      rgba(0, 179, 227, 1),
      rgba(0, 179, 227, 0.7)),
    url('../img/hero/shop_photo_3.jpg') no-repeat center center;

    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about-header-bg-image {
    background: linear-gradient(
      to bottom right,
      rgba(115,220,100, 1),
      rgba(115,220,100, 0.6)),
    url('../img/hero/shop_photo_2.jpg') no-repeat center center;

    background-position: top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.services-header-bg-image {
    background: linear-gradient(
      to bottom right,
      rgba(200,80,200, 1),
      rgba(200,80,200, 0.6)),
    url('../img/hero/pantone_book.jpg') no-repeat center center;

    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.contact-header-bg-image {
    background: linear-gradient(
      to bottom right,
      rgba(240,143,75, .8),
      rgba(240,143,75, 0.6)),
    url('../img/hero/shop_photo_4.jpg') no-repeat center center;

    background-position: 50% 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.blurb {
    border-radius: 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
    padding-right: 80px;
    z-index: 1000;
    position: relative;
}

.bj-header-logo {
    position: absolute;
    left: 80%;
    top: 20%;
    z-index: 2000;
    transform: translate(-50%, -50%);
}

.bj-header-logo:hover {
    z-index: 2000;
}

@media only screen and (max-width: 900px)  {
    .bj-header-logo {
        text-align: center;
        top: 10%;
        left: 80%;
    }
    .bj-header-logo img {
        width: 50px;
    }
}


.page-link {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    transition: all .2s;
}
.page-link:hover{
    opacity:.6;
    background: none;
}

.contact-input-sidebyside {
    width: 45%;
    float: left;
}

.logo-margin {
    margin: 2rem;
}

.footer-margin {
    margin: 1rem 1rem 0 1rem;
}

.service-icon {
    width: 170px;
    margin: 1rem;
    display: inline-block;
}
.screen-service-icon {
    width: 210px;
}

.about-copy-bg {
    background: url('../img/hero/hat_shot.png') no-repeat center bottom;
    background-size: cover;
}
